<header class="header">


    <div class="element col-5">
      <a href=''><img class="logo" src="assets/images/logo.PNG" alt="logo"></a>
    </div>
  <div class="element col-4 title" >
    <h1>Evolve&Go</h1>
  </div>

    <nav role="navigation" class="element col-3 justify-content-right" >
      <a class="btn nav-btn" href='login'><i class="bi bi-person"></i> Login</a>
      <a class="btn nav-btn" href='login'><i class="bi bi-card-checklist"></i> Codelabs</a>
      <a class="btn nav-btn" href='login'><i class="bi bi-activity"></i> Progress</a>
    </nav>


</header>
