<header class="header">


  <div class="element col-5">
    <a href=''><img class="logo" src="assets/images/logo.PNG" alt="logo"></a>
  </div>
  <div class="element col-3 title">
    <h1>Evolve&Go</h1>
  </div>

  <nav role="navigation" class="element col-3 justify-content-right">

      <span *ngIf="loggedInUser$ | async as loggedInUser; else notLoggedIn">
        <a class="btn nav-btn" routerLink="profile"><i class="bi bi-person"></i> {{loggedInUser}}</a>

        <span *ngIf="userType == 'STUDENT'">
          <a class="btn nav-btn" routerLink="codelabs"><i class="bi bi-card-checklist"></i> Codelabs</a>
        </span>
        <span *ngIf="userType == 'COACH'">
          <a class="btn nav-btn" routerLink="progression"><i class="bi bi-activity"></i> Progress</a>
        </span>
          <a class="btn logout btn-warning" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout</a>
      </span>
    <ng-template #notLoggedIn>
        <span>
          <a class="btn nav-btn" routerLink="login"><i class="bi bi-person"></i> Login</a>
        </span>
    </ng-template>

  </nav>


</header>
