<div class="container col-4 offset-4"
     style="border-style: solid;border-width: 1px;border-color: #424348; padding: 20px; border-radius: 10px">

  <form class="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Login</h3>
    <label class="form-label">Email</label>
    <input class="form-control" type="text" formControlName="email" placeholder="name@mail.com">
    <label class="form-label">Password</label>
    <input class="form-control" type="password" formControlName="password" placeholder="****">
    <label *ngIf="hasError" class="text-warning">Invalid credentials</label>
    <button type="submit" class="btn btn-success form-control">Login</button>
  </form>
  <button (click)="onRegister()" class="btn btn-secondary form-control">Register</button>


</div>
