.label-text{
  background-color: mediumseagreen;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-comment{
  background: #00ab9e;
  color: white;
}

.btn-solutions{
  background: grey;
  color: white;
}

.btn-save{
  background: #424348;
  color:white;

}
