.label-text{
  background-color: mediumseagreen;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-comment{
  background: #00ab9e;
  color: white;
}

.btn-comment:hover{
  background: white;
  color: #00ab9e;
  border-color: #00ab9e;
}

.btn-solutions{
  background: grey;
  color: white;
}

.btn-save{
  background: #424348;
  color:white;
}



.btn-save:hover {
  background: white;
  color: #424348;
  border-color: #424348;
}

.alert-custom-success {
  background: #00ab9e;
  color: white;
}
.solutions-btn:hover {
  background: lightgray;
}

a {
  text-decoration: none;
  color: black;
}
