<div class="container-sm">
  <div class="card col-6 offset-3">
    <span class="card-header text-center">Codelabs overview</span>

    <form [formGroup]="progressForm" (ngSubmit)="onSubmit()">
      <div formArrayName="codelabs">
        <ul class="list-group list-group-flush">
          <li *ngFor="let codelab of codelabs.controls" class="list-group-item" [formGroup]="codelab">
            <div class="row">
              <span class="col">{{codelab.value.codelabName}}</span>
              <select class="col" formControlName="progress">
                <option *ngFor="let progress of Object.keys(CodelabProgress)"
                        [value]="progress">{{CodelabProgress[progress]}}</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success col-auto offset-md-6" >Save</button><br><br>
        <ngb-alert *ngIf="message">
          Progress saved successfully!
        </ngb-alert>
      </div>
    </form>
  </div>
</div>
