<div *ngIf="userType == 'STUDENT'">
  <div class="container-sm">
    <div class="card col-6 offset-3">
      <span class="card-header text-center">Codelabs overview</span>

      <form [formGroup]="progressForm" (ngSubmit)="onSubmit()">
        <div formArrayName="codelabs">
          <ul class="list-group list-group-flush">
            <li *ngFor="let codelab of codelabs.controls" class="list-group-item" [formGroup]="codelab">
              <div class="row">
                <span class="col-5">{{codelab.value.codelabName}}</span>
                <span class="col-5">{{codelab.value.codelabCompleted}}</span>
                <select class="col-5" formControlName="progress">
                  <option *ngFor="let progress of Object.keys(CodelabProgress)"
                          [value]="progress">{{CodelabProgress[progress]}}</option>
                </select>
                <div class="col-1" style="margin-left: 20px; margin-right: 20px">
                  <a class="col btn btn-comment" (click)="open(content, codelab.value.codelabName, codelab.value.codelabId, codelab.value.codelabComment, codelab.value.codelabSolutionUrl)"><i class="bi bi-chat"></i></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="pt-3 col offset-md-5">
          <button type="submit" class="btn btn-save col-auto ">Save</button>
          <br><br>
          <ngb-alert *ngIf="message">
            Progress saved successfully!
          </ngb-alert>
          <ngb-alert type="danger" *ngIf="error">
            Failed to save progress!!
          </ngb-alert>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="userType != 'STUDENT'">
  <img alt="unauthorized by Samuel L. Jackson" src="assets/images/jackson.jpg" style="width: 50%" class="offset-3">
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{codelabName}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="codelabCommentForm" (ngSubmit)="saveComment()">

  <div class="modal-body">

      <div class="mb-3">
        <label for="comment">Comment</label>
        <div class="input-group">
          <textarea id="comment" class="form-control" formControlName="codelabComment"></textarea>
        </div>
      </div>

    <div class="mb-3">
      <label for="solution">Solution</label>
      <div class="input-group">
        <input id="solution" class="form-control" formControlName="codelabSolutionUrl" placeholder="https://github.com/my-codelab-solution"/>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
  </form>
</ng-template>

