.offcanvas-footer{
  background-color: #424348 ;
  color: white;
}

.footer{
  background-color: #424348 ;
  color: white;
  margin-top: 50px;
}

.logo{
  width: 200px;
  margin-right: 80px;
  margin-top: -80px;
}

.footer-text{
  margin-top: 50px;
}
