<!--<h1>Welcome {{username}}, you have logged in succes(switch)fully</h1>-->

<div class="container col-4 offset-4" style="border-style: solid;border-width: 1px;border-color: #424348; padding: 20px; border-radius: 10px">

<div *ngIf="student">

  <h3>Profile</h3>
  <label class="form-label">Display name</label>
  <input disabled class="form-control" type="text" placeholder="{{student.displayName}}">

  <label class="form-label">Email</label>
  <input disabled class="form-control" type="text" placeholder="{{student.email}}">
</div>

</div>

<ngb-alert *ngIf="infoMessage.length > 0" class="alert col-4 offset-4">{{ infoMessage }}</ngb-alert>
