  <div class="row">
    <div *ngFor="let progressOverview of progressOverviewList$ | async" class="col-4">
      <div class="col-10 offset-1">
        <div class="row d-flex align-items-end ">
          <h3 class="col">{{progressOverview.studentName}}</h3>
          <h6 class="col text-end">{{progressOverview.numberOfCompletedCodelabs}}/{{progressOverview.totalNumberOfCodelabs}}</h6>
        </div>
        <p>
          <ngb-progressbar [value]="progressOverview.numberOfCompletedCodelabs" [max]="progressOverview.totalNumberOfCodelabs">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="userType != 'COACH'" >
    <p class="text-center fs-1">Unauthorized - You are not allowed to access this page.</p>
<!--    <img src="assets/images/nopower.gif" style="width: 50%" class="offset-3">-->
  </div>


