<h3>Homepage</h3>

<p>
  <strong>Evolve&Go</strong> stands for making <strong>progress</strong>(Evolve) & putting all the knowledge into
  <strong>practice</strong>(GO).
</p>

<p>
  With Evolve&Go we strive to simplify the learning progress during the SwitchFully track.<br>
</p>
<ul>
  <li>As a student you can keep track of your codelab progress and help each other out by sharing solutions.</li>
  <li>As a coach we you can have an overview of each students progress.</li>
</ul>

<p>
  This application is developed by Alperen, Baker, Rinaldo & Ruben with the guidance of the SwitchFully coaches. A special thanks to Colruyt-Group for providing us with this unique opportunity.
</p>

<img src="assets/images/approved.png" style="width: 20%; float: right; margin-top: 20px">
